.navbar {
    display: flex;
    justify-content: flex-end;
    gap:1%;
  }
  
.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }
  
.navbar a:last-child {
    margin-right: 0;
  }
  
.dropdown-menu{
    border-radius:5px;
    border: 1px solid #ccc;
    position: fixed;
    margin-top: 2%;

}

.dropdown-menu a {
    color: #000;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
    font-size: 14px;
  }